@font-face {
    font-family: "Plovdiv Display";
    src: url("../fonts/Plovdiv.ttf");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat-Medium.ttf");
}

body {
    background-color: #75466A;
    margin: 0;
    font-family: "Montserrat-Medium";
    font-size: medium;
}

.header-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #3C324A;
}

.logo {
    margin-right: 30px;
    margin-left: 100px;
}

.site-navigation {
    flex-grow: 1;
}

.site-navigation {
    display: flex;
    flex-flow: row nowrap;
    margin: 2px 0 0;
    margin-left: 150px;
    padding: 0;
    font-family: "Plovdiv Display";
    font-size: large;
    line-height: 18px;
    list-style: none;
    border-radius: 4px;
}

.site-navigation li {
    margin-right: 20px;
}

.site-navigation li:last-child {
    margin-right: 0;
}

.site-navigation a,
.site-navigation .active {
    display: block;
    padding: 8px 10px;
    text-transform: uppercase;
    letter-spacing: .27em;
}

.site-navigation a {
    color: #000;
    text-decoration: none;
}

.site-navigation.active {
    color: white;
    background-color: #C381D9;
    border-radius: 8px;
}

.site-navigation a:hover {
    background-color: #C381D9;
    opacity: 80%;
}

/* Размещение выпадающего содержимого */
.dropdown-menu {
    position: relative;
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3C324A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
    background-color: #C381D9;
}

/* Показать выпадающее меню при наведении курсора */
.site-navigation .dropdown-menu:hover .dropdown-content {
    display: block;
}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown-menu:hover .dropdown-content li {
    background-color: #C381D9;
}


.search {
    margin-right: 100px;
}

.container {
    margin-top: 50px;
    font-family: "Montserrat-Medium";
}