@font-face {
    font-family: "Plovdiv Display";
    src: url("../fonts/Plovdiv.ttf");
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2f4f4f;
}

/* Стили для body */

body {
    margin: 0;
    padding: 0;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #333333;

    /* Фон с градиентом */
    background: linear-gradient(to bottom, #743B8A 0%, #D4B3E0 40%, #748D27 100%);
    background-color: #AE84BE;
    /* Резервный цвет для старых браузеров */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    /* Минимальная высота для страницы */
    min-height: 100vh;
}

/* Универсальные стили */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Стили для изображений */
img {
    max-width: 100%;
    height: auto;
}

/* Сеточные стили для html и body */

html,
body {
    min-width: 320px;
    /* Минимальная ширина для мобильных устройств */
    display: flex;
    flex-direction: column;
}


header {
    margin-bottom: 75px;
}

.inner-page .header {
    margin-bottom: 50px;
}

.page-title {
    color: #333333;
}

.container {
    flex-grow: 1;
    width: 1500px;
    margin: 0 auto;
    padding: 0 10px;

}

.header-menu-wrapper .container {
    width: 100%;

    display: flex;
    justify-content: space-between;
}


.header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-flow: row nowrap;
    /* border-bottom: 1px solid black; */
}

.header-logo {
    margin-right: 30px;
    margin-left: 100px;
    /* width: 200px; 
    height: 155;*/

}

.site-navigation {
    /* flex-grow: 1; */
    display: flex;
    flex-wrap: wrap;
    /* flex-flow: row nowrap; */
    white-space: nowrap;
    margin: 0;
    padding: 0;
    width: 920px;
    margin-left: 150px;
    font-family: "Plovdiv Display", "Tahoma", sans-serif;
    font-size: large;
    line-height: 18px;
    list-style: none;
    border-radius: 4px;
}

.site-navigation li {
    margin-right: 20px;
}

.site-navigation li:last-child {
    margin-right: 0;
}

.site-navigation a {
    display: block;
    padding: 8px 10px;
    text-transform: uppercase;
    letter-spacing: .17em;
    color: #000;
    text-decoration: none;
}

.active {

    background-color: #D7CEE1;
    border-radius: 8px;
    cursor: default;
}


.site-navigation a:hover,
.site-navigation a:focus {
    background-color: #D7CEE1;
    border-radius: 8px;
}

/* Размещение выпадающего содержимого */
.dropdown-menu {
    display: flex;
    cursor: default;
    position: relative;
}

.dropdown-menu::after {
    content: "";
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: transform 0.2s;
    /* Плавная анимация вращения */
    vertical-align: middle;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9D6EAF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    /* убираю точки у списка */
    list-style-type: none;
    font-size: small;
    /* убираю отступ слева у элементов выпадающего меню */
    padding-left: 0;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover,
.dropdown-content a:focus {
    background-color: #D7CEE1;
}

/* Показать выпадающее меню при наведении курсора */
.site-navigation li:hover>.dropdown-content,
.site-navigation li:focus>.dropdown-content {
    display: block;
}

/* Изменение направления стрелки при раскрытии меню */
.site-navigation li:hover>.dropdown-menu::after,
.site-navigation li:focus>.dropdown-menu::after,
.site-navigation li.active>.dropdown-menu::after {
    /* Добавлен активный класс */
    transform: rotate(-135deg);
    /* Поворот на 180 градусов */
}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown-menu:hover .dropdown-content li {
    background-color: #D4B3E0;
}

/* Стили для активного состояния */
.site-navigation li.active>a {
    background-color: #D7CEE1;
    border-radius: 8px;
}

.site-navigation li.active>.dropdown-menu::after {
    transform: rotate(-135deg);
    /* Оставляем стрелку повёрнутой вверх */
}
.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    list-style: none;
    color: black;
}

.breadcrumbs a {
    color: #000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    text-decoration: underline;
}

.breadcrumbs li {
    position: relative;
    margin-right: 42px;
}

.breadcrumbs li::after {
    content: url('../images/breadcrumbs.png');

    position: absolute;

    top: 3px;
    right: -25px;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs-current {
    color: #FFFFFF;
}

.breadcrumbs-current::after {
    display: none;
}

.cora-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to top, #D4B3E0, #FEFCFD);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.cora-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    background: linear-gradient(to top, #D4B3E0, #FEFCFD);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    /* Добавляем расстояние между элементами */
    margin-bottom: 20px;
    /* Отступ снизу */
}

.cora-photo {
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex: none;
    width: 450px;

}

.about-me-text {
    padding: 30px;
    font-size: 20px;
    flex: none;
    width: 1030px;
    font-size: 180%;
}

.cora-more {
    flex: none;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 120%;
}

.cora-more p {
    line-height: 1.4;
}

summary {
    padding-bottom: 5px;
    padding-left: 10px;
    cursor: pointer;
    border: white solid 1px;
    border-radius: 5px;
    width: 150px;
    background-color: #A87CB9;

}

.button-more a {
    color: #000;
    font-weight: bold;
}

.button-more a:hover {
    border-bottom: 1px solid;
    background: #758E29;
}

.my-activity {
    color: white;
    text-align: center;
    text-shadow: 1px -2px 3px black;
    font-size: 180%;
    margin-top: 50px;
    margin-bottom: 50px;
}


.about-me-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #D4B3E0, #FEFCFD);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.about-me-list li {
    list-style: none;
    padding: 5px 55px;
    flex-basis: auto;
    width: 33.33%;

}

.about-me-item {
    font-size: large;
    margin: 0 10px;
}


.about-me-item h3 {
    text-align: center;
}

.about-me-item h3::after {
    content: url('../images/paws.png');
    position: absolute;
    bottom: 150px;
    margin-left: -170px;
}

.my-cats-title {
    color: white;
    text-align: center;
    text-shadow: 1px -2px 3px black;
    font-size: 180%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.my-cats-gallery {
    position: relative;

    margin: 0;
    background: linear-gradient(to top, #D4B3E0, #FEFCFD);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}

.my-cats-gallery p {
    line-height: 1.6;
}

.container-photo-cats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
}

.button-more {
    padding-left: 40px;
    padding-bottom: 40px;

}

.my-cats-gallery img {
    width: 450px;
    border-radius: 10px;
    padding-bottom: 10px;

}

.figcaption {
    overflow: hidden;
}

.take-cat h2 {
    color: white;
    text-align: center;
    text-shadow: 1px -2px 3px black;
    font-size: 180%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.take-cat-container {
    position: relative;

    margin: 0;
    padding: 40px;
    background: linear-gradient(to top, #D4B3E0, #FEFCFD);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.take-cat a {
    color: #6a1b9a;
    font-weight: bold;
}

.take-cat a:hover {
    color: #388e3c;
    text-decoration: underline;
}

.take-cat-item {
    list-style: none;
}

.take-cat-item::before {
    content: url(../images/cat-guarantee-icon.png);
}

.take-cat p {
    line-height: 1.6;
}



/* здесь стилизую заголовок-слоган для внутренних страниц */
.big-heading {
    display: flex;
    align-items: center;

    margin-top: 55px;
    margin-bottom: 65px;

    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: white;
    text-shadow: 2px -2px 3px black;

    font-family: "Plovdiv Display", "Tahoma", sans-serif;
    letter-spacing: .10em;
}

.big-heading::before,
.big-heading::after {
    content: "";

    flex-grow: 1;
    flex-shrink: 0;

    width: 50px;
    height: 2px;

    background: white;

}

.big-heading::before {
    margin-right: 25px;
}

.big-heading::after {
    margin-left: 25px;
}

/* конец стилизации слогана */

/* Стилизация внутренних страниц*/

.info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    background: linear-gradient(to top, #D4B3E0, #FEFCFD);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
    /* Добавляем расстояние между элементами */
    margin-bottom: 20px;
    /* Отступ снизу, чтобы отделить аннотацию от основного текста */
}

.page-info {
    flex: 1;
    /* Чтобы текст занимал всю доступную ширину */
    font-size: 1.2em;
    line-height: 1.6;
    color: #4a4a4a;
    font-weight: 400;
}

.page-info strong {
    color: #6a1b9a;
    font-weight: bold;
    background-color: rgba(255, 235, 255, 0.3);
    /* Легкий фон для выделения */
    padding: 0 4px;
    border-radius: 4px;
}

.page-info a {
    color: #6a1b9a;
    font-weight: bold;
    text-decoration: none;
}

.page-info a:hover {
    color: #388e3c;
    text-decoration: underline;
}

.inner-page-photo {
    width: 350px;
    height: auto;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.inner-page-photo:hover {
    transform: scale(1.05);
    /* Легкое увеличение при наведении */
}

@media (max-width: 768px) {
    .info-container {
        flex-direction: column;
        /* На маленьких экранах фото и текст будут друг под другом */
        text-align: center;
    }

    .inner-page-photo {
        margin: 0 auto;
        /* Центрируем фото на мобильных устройствах */
    }

    .page-info {
        width: 100%;
        /* Текст занимает всю ширину */
        padding-left: 0;
    }
}


.inner-content table {
    border-collapse: collapse;
    width: 100%;
}

.inner-content td {
    padding: 10px 15px;
    border: 2px solid black;
    width: 50%;
}

.inner-content td:last-child {
    text-align: center;
}

.inner-columns {
    display: flex;
    justify-content: space-between;

    margin: 60px 0;
}

.inner-column-left,
.inner-column-right {
    width: 700px;
}

/* * - значит любой первый элемент */

.inner-column-left *:first-child,
.inner-column-right *:first-child {
    margin-top: 0;
}

/* кнопка для копирования номера карты */
.copy-number {
    width: 100px;
    height: 24px;
    background: #fff;
    border: none;
    font: inherit;
    font-weight: 500;
    border-radius: 16px;
    overflow: hidden;
    transition-duration: 700ms;
    cursor: pointer;
}

.copy-number span:first-child {
    color: #6a1b9a;
    position: absolute;
    transform: translate(-50%, -50%);
}

.copy-number span:last-child {
    color: #fff;
    position: absolute;
    opacity: 0;
    transform: translateY(150%) translateX(-50%);
    height: 22px;
    line-height: 20px;
}

.copy-number:focus {
    background-color: #40c606;
    width: 120px;
    height: 30px;
    transition-duration: 500ms;
    transition-delay: 50ms;

}

.copy-number:focus span:first-child {
    opacity: 0;
    transform: translateY(150%) translateX(-200%);
}

.copy-number:focus span:last-child {
    transform: translateY(-50%) translateX(-50%);
    opacity: 1;
    transition-duration: 300ms;
    transition-delay: 300ms;
}

/* конец оформления кнопки */

/* стили для страницы котоводство */
.kotovodstvo-text {
    flex: 1;
    font-size: 1.5em;
    font-style: italic;
    color: #4a4a4a;
    padding-right: 20px;
    line-height: 1.6;
}

.kotovodstvo-info {
    flex: 1;
    font-size: 1.2em;
    line-height: 1.6;
    color: #4a4a4a;
    padding-right: 20px;
}

.kotovodstvo-info span {
    color: #6a1b9a;
    font-weight: bold;
    background-color: rgba(255, 235, 255, 0.3);
    /* Легкий фон для выделения */
    padding: 0 4px;
    border-radius: 4px;
}

.kotovodstvo-photo {
    width: 350px;
    height: auto;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.kotovodstvo-photo:hover {
    transform: scale(1.05);
    /* Легкое увеличение при наведении */
}

@media (max-width: 768px) {
    .cora-container {
        flex-direction: column;
        /* Вертикальное расположение на маленьких экранах */
        text-align: center;
    }

    .kotovodstvo-photo {
        margin: 0 auto;
        /* Центрируем фото */
    }

    .kotovodstvo-text,
    .kotovodstvo-info {
        padding-right: 0;
        width: 100%;
        /* Текст занимает всю ширину */
    }
}

.kotovodstvo-container {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(to top, #D4B3E0, #FEFCFD);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.kotovodstvo-container p {
    padding-left: 30px;
}

.important-points {
    padding-left: 30px;
}

.important-points h2 {
    color: #6a1b9a;
    font-size: 1.8em;
    margin-bottom: 15px;
    margin-top: 0;
}

.important-points ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 1.1em;
    color: #4a4a4a;
}

.important-points li {
    margin-bottom: 10px;
}

.pdf-download {
    text-align: center;
    margin: 20px 0;
}

.pdf-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    color: #fff;
    background-color: #AF9CA9;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pdf-button:hover {
    background-color: #8a7280;
}

.lection-text,
.presentation-text {
    font-size: 1.8em;
    text-align: center;
    margin-top: 30px;
}

.video-lection {
    text-align: center;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .kotovodstvo-container {
        text-align: center;
    }

    .important-points {
        padding: 15px;
    }

    .pdf-button {
        width: 100%;
        padding: 15px;
    }

    .video-lection iframe {
        width: 100%;
        height: auto;
    }
}

/* конец стилизации страницы "Котоводство"*/

/* Начало стилизации страницы "Котошмот" */
.cat-items-text {
    padding-top: 30px;
    font-size: 20px;
    flex: none;
    font-size: 180%;
}

.table-container {
    margin-top: 30px;
    background: linear-gradient(to top, #D4B3E0, #FEFCFD);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.table-cat-items {
    border: 1px, solid, black;
    border-collapse: collapse;
    width: 100%;
    display: block;
}

.table-cat-items img {
    width: 400px;
    height: 400px;
}

.table-cat-items a {
    color: #6a1b9a;
    font-weight: bold;
}

.table-cat-items a:hover {
    color: #388e3c;
    text-decoration: underline;
}

/* Конец стилизации страницы "Котошмот" */

/* Начало стилизации страницы "Потеряли кота" */

.article-container a {
    color: #6a1b9a;
    font-weight: bold;
}

.article-container a:hover {
    color: #388e3c;
    text-decoration: underline;
}

/* Конец стилизации "Потеряли кота" */
/* Начало стилизации "Доп материалы" */

.window-cat-text {
    padding-top: 30px;
    flex: none;
    font-size: 180%;
}

.additional-info-heading {
    color: white;
    text-align: center;
    text-shadow: 1px -2px 3px black;
    font-size: 180%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.window-cat {
    margin-top: 30px;
    padding: 30px;
}

.window-cat p {
    line-height: 1.6;
}

.window-cat-text {
    line-height: 3.5;
}


.window-cat article {
    margin: 0;
}

.window-cat-info {
    line-height: 1.5;

}

.window-cat a {
    color: #6a1b9a;
    font-weight: bold;
}

.window-cat a:hover {
    color: #388e3c;
    text-decoration: underline;
}

.article-container p {
    line-height: 1.6;
}

.article-container li {

    margin-bottom: 8px;
}

.article-container a {
    color: #6a1b9a;
    font-weight: bold;
}

/*Конец стилизации "Доп материалы" */

/*Начало стилизации "Нашли кота"*/

.article-container {
    background: linear-gradient(to top, #D4B3E0, #FEFCFD);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 30px;
    padding: 30px;
}

/*Начало стилизации "Пиар и пристройство*/

.inner-page-text {
    padding-top: 30px;
    flex: none;
    font-size: 150%;
}

/* Всплывающая форма (модалка) */

.modal {
    position: fixed;

    color: #000000;

    background-color: #f8f3f0;
    background-image: url("");
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-cats {
    top: 120px;
    left: 50%;

    /* display: none; */

    width: 300px;
    margin-left: -230px;
    padding: 50px 80px;
    transform: translate(-50% -50%);
}

.modal-close {
    position: absolute;
    top: 0;
    right: -34px;

    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: transparent;
    border: 0;

    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 10px;
    left: 2px;

    width: 19px;
    height: 3px;

    background-color: #d0d0d0;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

/* конец оформления модалки */

/* оформление кнопки якоря наверх */

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #753C8A;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    display: none;
    z-index: 999;
}

.scroll-to-top:hover {
    background-color: #D2B1DF;
}

/* Показываем кнопку при прокрутке вниз */
.scroll-to-top.show {
    display: block;
}

/* конец оформления кнопки якоря */
.main-footer {
    margin-top: 65px;
    padding: 60px 0;
}

.main-footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.footer-info {
    margin: 0;
}

.footer-info b {
    display: block;
    margin-bottom: 15px;
}

.footer-info a {
    color: #000;
}

.footer-social {
    text-align: center;
    width: 145px;
}

.footer-social b {
    display: block;
    margin-bottom: 15px;
}

.footer-social ul {
    display: flex;
    justify-content: space-between;
    width: 141px;
    margin: 0 auto;
    padding: 0;
}

.footer-social a {
    color: black;
}

.footer-social li {
    list-style: none;
}

.footer-social li:hover,
.footer-social li:focus {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15%;
}

.footer-copyright {
    width: 150px;
    margin: 0;
    text-align: center;
}

.footer-copyright b {
    display: block;
    margin-bottom: 15px;
}

.footer-copyright .poweredby {
    display: block;
    margin-right: 0;
    border: #000 1px solid;
    border-radius: 15px;
    color: #000;
}

.poweredby:hover {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Стили для страницы 404 */
.inner-page .error-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.error-container {
    padding: 20px;
    text-align: center;
}

.error-container h1 {
    font-size: 72px;
    margin: 0;
    color: #333333;
}

.error-container h2 {
    font-size: 24px;
    color: #333333;
}

.error-container p {
    font-size: 18px;
    color: #333333;
    margin: 20px 0;
}

.error-home-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    background-color: #AF9CA9;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.error-home-button:hover {
    background-color: #8a7280;
}

.error-cat-icon {
    font-size: 50px;
    color: #AF9CA9;
}