@font-face {
    font-family: "Plovdiv Display";
    src: url("../fonts/Plovdiv.ttf");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat-Medium.ttf");
}

body {
    background-color: #75466A;
    margin: 0;
    font-family: "Montserrat-Medium";
    font-size: medium;
}

.header-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #3C324A;
}

.logo {
    margin-right: 30px;
    margin-left: 100px;
}

.site-navigation {
    flex-grow: 1;
}

.site-navigation {
    display: flex;
    flex-flow: row nowrap;
    margin: 2px 0 0;
    margin-left: 150px;
    padding: 0;
    font-family: "Plovdiv Display";
    font-size: large;
    line-height: 18px;
    list-style: none;
    border-radius: 4px;
}

.site-navigation li {
    margin-right: 20px;
}

.site-navigation li:last-child {
    margin-right: 0;
}

.site-navigation a,
.site-navigation .active {
    display: block;
    padding: 8px 10px;
    text-transform: uppercase;
    letter-spacing: .27em;
}

.site-navigation a {
    color: #000;
    text-decoration: none;
}

.site-navigation.active {
    color: white;
    background-color: #C381D9;
    border-radius: 8px;
}

.site-navigation a:hover {
    background-color: #C381D9;
    opacity: 80%;
}

.search {
    margin-right: 100px;
}

.container {
    margin-top: 50px;
    font-family: "Montserrat-Medium";
}